/* Reset the default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Set the font and background color */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* Center the page content */
.weather-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

/* Style the form elements */
label {
    display: block;
    margin-bottom: 10px;
}

select {
    margin-bottom: 20px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4286f4;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #3366cc;
}

 .sun-cloud {
    position: relative;
    height: 150px;
    width: 200px;
    padding-bottom: 100px;
}

.sun {
    position: absolute;
    top: 40%;
    left: 70%;
    transform: translateY(-50%);
    height: 200px;
    width: 200px;
    background-color: #ffd700;
    border-radius: 50%;
    box-shadow: 0 0 0 40px rgba(255, 215, 0, 0.4),
            0 0 20px rgba(255, 215, 0, 0.4), 0 0 30px rgba(255, 215, 0, 0.4),
            0 0 40px rgba(255, 215, 0, 0.4), 0 0 50px rgba(255, 215, 0, 0.4),
            0 0 60px rgba(255, 215, 0, 0.4);
    }

    .cloud {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 200px;
        width: 300px;
        background-color: white;
        clip-path: polygon(0 20%, 20% 0, 80% 0, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0 80%);
        box-shadow: 0 0 10px, inset -10px -10px 30px;
    }

  .rainbow {
      position: absolute;
      top: 50%;
      left: -50px;
      width: 100px;
      height: 100px;
      
  }

  .rainbow-color {
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      animation: rainbow 2s infinite;
  }

  .rainbow-color-1 {
      top: 0px;
      left: 0px;
      background-color: red;
  }

  .rainbow-color-2 {
      top: 20px;
      left: 10px;
      background-color: orange;
  }

  .rainbow-color-3 {
      top: 40px;
      left: 0px;
      background-color: yellow;
  }

  .rainbow-color-4 {
      top: 60px;
      left: 10px;
      background-color: green;
  }

  .rainbow-color-5 {
      top: 80px;
      left: 0px;
      background-color: blue;
  }

  @keyframes rainbow {
      0% {
          transform: translateX(0);
      }

      50% {
          transform: translateX(30px);
      }

      100% {
          transform: translateX(0);
      }
  } 

