

body {
    font-family: Arial, sans-serif;
    background-color: #87CEFA;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

h2 {
    font-family:'Times New Roman', Times, serif;
    font-size: 2.5rem;
        margin-bottom: 2rem;
        text-align: center;
        
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 400px;
}

label {
    font-size: 1.5rem;
    margin-right: 1rem;
}

input {
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
}

button {
    background-color:#333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;

}

button:hover {
    background-color: #444;
}

#weather-card {
    background-color: rgba(108, 168, 255, 0.7);
    
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 25rem;
    opacity: 0.9;
    margin-bottom: 50px;

    /* Set opacity value */
}
.city-name {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: blue;
}


.weather-icon {
    font-size: 4rem;
    margin-right: 1rem;
}

.temperature {
    font-size: 5rem;
    color: orange
}

.description {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.humidity {
    font-size: 1.5rem;
}

/* .sun-cloud {
    position: relative;
    height: 150px;
    width: 200px;
    padding-bottom: 100px;
}

.sun {
    position: absolute;
    top: 40%;
    left: 70%;
    transform: translateY(-50%);
    height: 200px;
    width: 200px;
    background-color: #ffd700;
    border-radius: 50%;
    box-shadow: 0 0 0 40px rgba(255, 215, 0, 0.4),
            0 0 20px rgba(255, 215, 0, 0.4), 0 0 30px rgba(255, 215, 0, 0.4),
            0 0 40px rgba(255, 215, 0, 0.4), 0 0 50px rgba(255, 215, 0, 0.4),
            0 0 60px rgba(255, 215, 0, 0.4);
    }

    .cloud {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 200px;
        width: 300px;
        background-color: white;
        clip-path: polygon(0 20%, 20% 0, 80% 0, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0 80%);
        box-shadow: 0 0 10px, inset -10px -10px 30px;
    }

  .rainbow {
      position: absolute;
      top: 50%;
      left: -50px;
      width: 100px;
      height: 100px;
      
  }

  .rainbow-color {
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      animation: rainbow 2s infinite;
  }

  .rainbow-color-1 {
      top: 0px;
      left: 0px;
      background-color: red;
  }

  .rainbow-color-2 {
      top: 20px;
      left: 10px;
      background-color: orange;
  }

  .rainbow-color-3 {
      top: 40px;
      left: 0px;
      background-color: yellow;
  }

  .rainbow-color-4 {
      top: 60px;
      left: 10px;
      background-color: green;
  }

  .rainbow-color-5 {
      top: 80px;
      left: 0px;
      background-color: blue;
  }

  @keyframes rainbow {
      0% {
          transform: translateX(0);
      }

      50% {
          transform: translateX(30px);
      }

      100% {
          transform: translateX(0);
      }
  } */

body {
    background-image: url('pics/guillaume-issaly-1XxDR8pVd48-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #333333;
    /* dark grey color */
    color: #ffffff;
    /* white text color */
}
 .weather-container {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
 }

 .weather-card,
 .weather-forecast {
     width: 50%;
    background-color:rgba(128, 128, 128, 0.5);
        color: white;
 }
 #weekly-weather{

    background-color: rgba(108, 168, 255, 0.7);
    
    
 }
 .table-week {
     border-collapse: collapse;
     margin: 0 auto;
     width: 100%;
 }

 .table-week th,
 .table-week td {
     padding: 10px;
     text-align: center;
 }

 .table-week th {
     background-color: #333;
     color: white;
 }

 .table-week td {
     background-color: rgba(108, 168, 255, 0.7);
    border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
 }

 .high-temp::after,
 .low-temp::after {
     color: #333333;
     font-weight: bold;
 }

 #weekly-weather tr:hover {
     background-color: #87CEFA;
 }

 .search-container {
     display: flex;
     align-items: center;
     justify-content: center;
     margin-bottom: 50px;
 }

 label,
 input,
 button {
     margin: 5px;
     word-spacing: normal;
 }

 footer {
    padding-top: 50px;
 }